</div></div>
<div class="container-fluid bg-dark">
<footer class="page-footer bg-dark text-white container font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Content</h5>
        <p>A website which gives you the latest and most accurate information
           about this corona virus pandemic.
         </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i>Tinsukia, Assam</p>
          </li>
          <li>
            <p>
              <i style="display:inline;"class="fa fa-envelope mr-3"></i>k.manitosh@iitg.ac.in</p>
          </li> 
         </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Developer</h5>

        <!-- Facebook -->
        <a href="https://www.facebook.com/profile.php?id=100009856863243" type="button" class="btn-floating btn-fb">
          <i class="fa fa-facebook-f fa-2x"></i>
        </a><br>
        <!-- Google +-->
        <a href="https://github.com/dubeymanitosh" type="button" class="btn-floating btn-github">
          <i class="fa fa-github fa-2x "></i>
        </a><br>
        <!-- Dribbble -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  <div id="detailed" class="col-lg-12 col-md-12 col-sm-12">
    <div class="accordion bg-dark" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Disclaimer: 
                </button>
              </h2>
          </div>

          <div id="collapseOne" class="collapse hide bg-dark " aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Note:- All the data in this website is taken from the trusted website such as World health Organisation, Ministry of health affairs, Encyclopedia etc. All the care has been taken to provide you true and valid information but developer does not take any  responsiblility for any false information.<br>
                 In case of you find any false information ,technical or non-technical glitch kindly inform the developer.
              </div>
          </div>
        </div>
      </div>
  <!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright</div>